$wides: one two three four five six seven eight nine ten eleven twelve;
$grid-total-columns: length($wides);
$min-tablet-width:   48em;
$min-computer-width: 75em;
$one-wide:           100% / $grid-total-columns;


@function wideWidth($number) {
  @return ($number * $one-wide);
}

@function wideSettings($number) {
  @return 0 wideWidth($number);
}

@mixin get-wide-settings($wide) {
  @for $i from 1 through length($wides) {
    @if $wide == nth($wides, $i) { flex: wideSettings($i); }
  }
}

@mixin get-offset-value($wide) {
  @for $i from 1 through length($wides) {
    @if $wide == nth($wides, $i) { margin-left: wideSettings($i); }
  }
}