body {
  margin: 0;
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #f5f5f5;
  color: #383838;
}

h1.big {
  font-size: 70px;
  margin: 0px;
}

p,
li {
  color: #666;
  margin: 10px auto;
  max-width: 30rem;
}

ol {
  margin-top: 35px;
  text-align: left;
}

iframe {
  border-radius: 5px;
}

.gist {
  max-height: 520px;
  overflow: auto;
}

@media screen and (max-width: 47.9em) {
  .gist {
    max-height: 380px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

iframe[src*="codepen"],
.gist {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.gist-file {
  margin-bottom: 0 !important;
}

.powered {
  opacity: .77;
  right: 15px;
  top: 0;
  position: absolute;
}

  .powered p,
  .powered a {
    color: #fff;
  }

.no.margin {
  margin: 0;
}

a[class*="no decoration"] {
  text-decoration: none;
}

a.white {
  color: #fff;
}

.margin.top {
  margin-top: 170px;
}

.padding:not(.sides) {
  padding: 20px;
}

.padding.sides {
  padding-left: 20px;
  padding-right: 20px;
}

.normal.weight {
  font-weight: normal;
}

.big.grid {
  padding-top: 15vh;
  padding-bottom: 15vh;
  margin-bottom: 60px;
}

[class*="with margin bottom"].grid {
  margin-bottom: 80px;
}

.primary.color {
  background-color: #34495e;
  color: #fff;
}

.file.draw {
  width: 47px;
  height: 63px;
  background: #fff;
  margin: 50px auto auto auto;
}

.file.draw:before {
  content: '.css';
  position: absolute;
  color: #989898;
  font-size: 14px;
  margin-left: -13px;
  margin-top: 40px;
}

.file.draw:after {
  content: '';
  position: absolute;
  background: none;
  margin-left: 9px;
  width: 1px;
  height: 1px;
  border-top: 15px solid #34495e;
  border-left: 15px solid #ccc;
}

.button {
  margin-top: 20px;
  background: #E0E1E2;
  color: rgba(0,0,0,.6);
  padding: .75em 1em;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-transform: lowercase;
}

  .button:first-letter {
    text-transform: uppercase;
  }

  .button:hover {
    background: #d3d4d6;
  }

.lighter.button {
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

  .lighter.button:hover {
    background: rgba(255, 255, 255, .4);
  }